In [2]:
from datetime import datetime
from datetime import time
from datetime import date
from datetime import timedelta

In [3]:
d1 = date(2019, 3, 12)
print(d1)
print(d1.year)
print(d1.month)
print(d1.day)

2019-03-12
2019
3
12

In [4]:
t1 = time(23, 10, 59)
print(t1)
print(t1.hour)
print(t1.minute)
print(t1.second)

23:10:59
23
10
59

In [5]:
print(date.today())

2019-03-13

In [6]:
print(date.max)
print(date.min)
print(time.max)
print(time.min)

9999-12-31
0001-01-01
23:59:59.999999
00:00:00

# datetime

In [3]:
dt = datetime(2019, 3, 12, 17, 15)
print(dt)

2019-03-12 17:15:00

In [6]:
print(dt.date().year)
print(dt.time().hour)

2019
17

In [8]:
print(datetime.max) 
print(datetime.min)

9999-12-31 23:59:59.999999
0001-01-01 00:00:00

In [9]:
now = datetime.now()
print(now)

2019-03-13 09:22:27.990836

In [10]:
print(now.year)
print(now.month)
#etc with day, hour...

2019
3

In [12]:
new_dt = now.replace(year=2018)
print(new_dt)

2018-03-13 09:22:27.990836

# parsing

- %d: день месяца в виде числа
- %m: порядковый номер месяца
- %y: год в виде 2-х чисел
- %Y: год в виде 4-х чисел
- %H: час в 24-х часовом формате
- %M: минута
- %S: секунда

In [38]:
dt = datetime.strptime("30/08/2018", "%d/%m/%Y")
print(dt)
 
dt = datetime.strptime("29/03/2018 10:40", "%d/%m/%Y %H:%M")
print(dt)     
 
dt = datetime.strptime("06-28-2018 09:20", "%m-%d-%Y %H:%M")
print(dt)     

dt = datetime.strptime('2018-06-28', '%Y-%m-%d')
print(dt)

2018-08-30 00:00:00
2018-03-29 10:40:00
2018-06-28 09:20:00
2018-06-28 00:00:00

# formatting

- %a: аббревиатура дня недели. Например, Wed - от слова Wednesday (по умолчанию используются английские наименования)
- %A: день недели полностью, например, Wednesday
- %b: аббревиатура названия месяца. Например, Oct (сокращение от October)
- %B: название месяца полностью, например, October
- %d: день месяца, дополненный нулем, например, 01
- %m: номер месяца, дополненный нулем, например, 05
- %y: год в виде 2-х чисел
- %Y: год в виде 4-х чисел
- %H: час в 24-х часовом формате, например, 13
- %I: час в 12-ти часовом формате, например, 01
- %M: минута
- %S: секунда
- %f: микросекунда
- %p: указатель AM/PM
- %c: дата и время, отформатированные под текущую локаль
- %x: дата, отформатированная под текущую локаль
- %X: время, форматированное под текущую локаль

In [42]:
import locale
locale.setlocale(locale.LC_ALL, "")

'Russian_Russia.1251'

In [46]:
now = datetime.now()
print(now.strftime('%Y-%m-%d (%a)'))
print(now.strftime('%Y %B %d число (%A)'))

2019-03-12 (Вт)
2019 Март 12 число (вторник)

# timedelta

In [47]:
from datetime import timedelta

In [58]:
delta1 = timedelta(days=3, hours=2, minutes=10)
print(delta1)

3 days, 2:10:00

In [59]:
delta2 = timedelta(days=2, hours=1, minutes=5)

In [61]:
print(delta1 - delta2)
print(delta2 - delta1)

1 day, 1:05:00
-2 days, 22:55:00

In [69]:
my_bithday = date(1988, 8, 12)

delta = date.today() - my_bithday
print(type(delta))

my_age = int(delta.days / 365)
print(my_age)

<class 'datetime.timedelta'>
30

In [71]:
wife_birthday = date(1990, 9, 6)

am_i_older = my_bithday < wife_birthday
print(am_i_older)

True