# Chapter 8 Строковые методы

Пример: база данных о фильмах
Давайте рассмотрим более реалистичный пр

In [9]:


year = '1983'

if year in table:
    movie = table[year]
    print(movie)

for year in table:
    print(year + '\t' + table[year])

The Meaning of Life
1975	Holy grail
1979	Life of Brian
1983	The Meaning of Life

In [11]:
for key in table.keys():
    print(key)

1975
1979
1983

In [12]:
for key in table.values():
    print(key)

Holy grail
Life of Brian
The Meaning of Life

In [13]:
for item in table.items():
    print(item)

('1975', 'Holy grail')
('1979', 'Life of Brian')
('1983', 'The Meaning of Life')

In [14]:
list(table.items())

[('1975', 'Holy grail'),
 ('1979', 'Life of Brian'),
 ('1983', 'The Meaning of Life')]

In [16]:
[title for (title, year) in table.items() if year == '1975']

[]

In [21]:

table = {
    '1975': 'Holy grail',
    '1979': 'Life of Brian',
    '1983': 'The Meaning of Life',
}
K = '1975'
table[K]

'Holy grail'

In [26]:
V = 'Holy grail'
[key for key in table.keys()]

['1975', '1979', '1983']